In [2]:
import pandas as pd
import os

In [6]:
# Folder to read all files from
raw_folder = "11-19-2021 5pm ET"
# Get list of file names in folder
file_list = os.listdir(raw_folder)
# Loop over files in folder and combine to one dataframe
df = pd.DataFrame()
for file in file_list:
    # Read in file
    file_df = pd.read_csv(raw_folder+'/'+file)
    # Combine to one dataframe
    df = df.append(file_df)
df

,Name,Wait Time,Delivery Fee,Link,Delivery Address,Geoid
0,Philly's Best (Jingletown),NaN,4.99,https://postmates.com/store/phillys-best-jingl...,2236 Linden St Oakland CA,60014016002
1,Dirty Burger (Oakland),45–55 min,4.99,https://postmates.com/store/dirty-burger-oakla...,2236 Linden St Oakland CA,60014016002
2,Burger Latino (5333 Adeline St),30–40 min,3.99,https://postmates.com/store/burger-latino-5333...,2236 Linden St Oakland CA,60014016002
3,Kyoto Ramen+ Lilikoi,50–60 min,13.99,https://postmates.com/store/kyoto-ramen%2B-lil...,2236 Linden St Oakland CA,60014016002
4,"Philly Fresh Cheesesteaks (5333 Adeline St ,)",30–40 min,3.99,https://postmates.com/store/philly-fresh-chees...,2236 Linden St Oakland CA,60014016002
...,...,...,...,...,...,...
2447,World Champion Smokehouse,20–30 min,2.99,https://postmates.com/store/world-champion-smo...,9957 Medford Ave Oakland CA,60014093003
2448,Bonchon Chicken (1275 Washington Ave),30–40 min,1.99,https://postmates.com/store/bonchon-chicken-12...,9957 Medford Ave Oakland CA,60014093003
2449,Dixons,30–40 min,2.99,https://postmates.com/store/dixons/GTWeTFLVSAS...,9957 Medford Ave Oakland CA,60014093003
2450,Kanda Ramen And BBQ,30–40 min,2.99,https://postmates.com/store/kanda-ramen-and-bb...,9957 Medford Ave Oakland CA,60014093003
2451,La Salsa (1207 Marina Blvd),30–40 min,3.99,https://postmates.com/store/la-salsa-1207-mari...,9957 Medford Ave Oakland CA,60014093003

In [8]:
# Print percent where Wait Time is not NaN
print("Wait time complete:")
print(df['Wait Time'].count() / len(df['Wait Time']) * 100)
# Do the same for Name
print("Name Complete")
print(df['Name'].count() / len(df['Name']) * 100)
# Do the same for Delivery Fee
print("Delivery Fee Complete")
print(df['Delivery Fee'].count() / len(df['Delivery Fee']) * 100)
# Do the same for Link
print("Link Complete")
print(df['Link'].count() / len(df['Link']) * 100)
# Do the same for Delivery Address (sanity check)
print("Delivery Address Complete")
print(df['Delivery Address'].count() / len(df['Delivery Address']) * 100)
# Do the same for Geoid
print("Geoid Complete")
print(df['Geoid'].count() / len(df['Geoid']) * 100)

Wait time complete:
99.66935483870968
Name Complete
100.0
Delivery Fee Complete
97.32056451612904
Link Complete
100.0
Delivery Address Complete
100.0
Geoid Complete
100.0

In [9]:
# Read in OAK_Berk_geocodio_filtered.csv
oak_berk_geocodio_filtered = pd.read_csv('OAK_Berk_geocodio_filtered.csv')
oak_berk_geocodio_filtered

,Unnamed: 0,Countyfp,Blkgrpce,Funcstat,Geoid,Latitude,Longitude,Mtfcc,Namelsad,Statefp,...,Number,Street,Unit Type,Unit Number,City,State,County,Zip,Country,Source
0,0,1,3,S,60014072003,37.781047,-122.220743,G5030,Block Group 3,6,...,3440.0,E 18th St,NaN,NaN,Oakland,CA,Alameda County,94601,US,Alameda
1,1,1,1,S,60014036001,37.813905,-122.251403,G5030,Block Group 1,6,...,327.0,Macarthur Blvd,NaN,NaN,Oakland,CA,Alameda County,94610,US,Alameda
2,2,1,2,S,60014036002,37.814329,-122.254174,G5030,Block Group 2,6,...,382.0,Jayne Ave,NaN,NaN,Oakland,CA,Alameda County,94610,US,Alameda
3,3,1,1,S,60014038001,37.815794,-122.236363,G5030,Block Group 1,6,...,4014.0,Lakeshore Ave,NaN,NaN,Oakland,CA,Alameda County,94610,US,Alameda
4,4,1,2,S,60014038002,37.813742,-122.241825,G5030,Block Group 2,6,...,536.0,Prince St,NaN,NaN,Oakland,CA,Alameda County,94610,US,Alameda
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,403,1,1,S,60014236011,37.859920,-122.258048,G5030,Block Group 1,6,...,2455.0,Stuart St,NaN,NaN,Berkeley,CA,Alameda County,94705,US,Berkeley
389,404,1,2,S,60014236012,37.857546,-122.259594,G5030,Block Group 2,6,...,2900.0,Telegraph Ave,NaN,NaN,Berkeley,CA,Alameda County,94705,US,Berkeley
390,405,1,1,S,60014236021,37.863800,-122.261811,G5030,Block Group 1,6,...,2321.0,Blake St,NaN,NaN,Berkeley,CA,Alameda County,94704,US,Berkeley
391,406,1,2,S,60014236022,37.864445,-122.256132,G5030,Block Group 2,6,...,2527.0,Hillegass Ave,NaN,NaN,Berkeley,CA,Alameda County,94704,US,Berkeley
392,407,1,2,S,60014237002,37.859562,-122.248932,G5030,Block Group 2,6,...,2920.0,Avalon Ave,NaN,NaN,Berkeley,CA,Alameda County,94705,US,Alameda

In [33]:
# Left join df with oak_berk_geocodio_filtered on Geoid
df_merged = df.merge(oak_berk_geocodio_filtered, on='Geoid', how='left')
df_merged.columns
df_merged.to_csv(raw_folder + '/' + 'df_merged.csv')

In [35]:
# Get unique lattiudes and longitude combinations
unique_lat_long = df_merged[['Latitude', 'Longitude']].drop_duplicates()
unique_lat_long

        Latitude   Longitude
0      37.815860 -122.281218
133    37.818429 -122.281667
268    37.867627 -122.231946
410    37.829396 -122.190307
499    37.837290 -122.217052
...          ...         ...
48987  37.855090 -122.275267
49121  37.784157 -122.230333
49252  37.782883 -122.232909
49386  37.728819 -122.176166
49507  37.738119 -122.176116

[383 rows x 2 columns]